

$white	:	#ffffff;
$light-grey	:	#a3adb7;
$dark-grey  :   #757d87;
$accent		:	#ca0000;
$light-blue	:	#26a6d1;
$mid-blue	:	#414a4f;
$form-lines :   #e0e0e0;
$form-bg    :   #fdfcfc;
$form-rollover: #f7f7f7;
$text-color :   #003350;
$gallery-background	:	white;