
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$regular-font	:	'Open Sans', 'sans-serif';
$bold-font	:	700;


//sizes

$nav-items 			    :	1em;
$nav-items-secondary    :  .8em;
$nav-items-mobile   	:	.8em;
$feature		    	:	.8em;
$subtext		    	:	1.5em;
$subtext-mobile	    	:	1.2em;
$h1				    	:	4em;
$h1-mobile		    	:	2.5em;
$h3                     :   1.3em;
$regular-size           :   .9em;

